<h1>Oracles Link: Frost Insurance Showcase</h1>

<p class="error" [hidden]="(isConnectedToRopsten$ | async) === true">
  Please connect to the Ropsten network and reload the page for this showcase.
</p>
<div [hidden]="(isConnectedToRopsten$ | async) === false">
  <section>

    <p>
      You can create a new inquiry using the "Create inquiry" button below. <br />
      This will trigger the smart contract function creates a new Request to fetch the current temperature in Kufstein,
      Austria.

    </p>

    <button mat-flat-button color="primary" (click)="createInquiry()" [disabled]="creatingInquiry">Create
      inquiry</button>

    <p [hidden]="!creatingInquiry">Creating inquiry... this might take a few minutes.</p>

    <p class="error">
      Not enough LINK available on the Frost Insurance Smart Contract to create a new inquiry.
      <br />
      Please send some Link to the contract using the <a href="https://ropsten.chain.link/" target="_blank">Ropsten
        Chainlink Faucet</a>.
      <br />
      The contract address is: <input type="test" value="0x4ca55A262B7546D90dfF3B194513Edd51862620E" readonly>
    </p>

  </section>

  <section>
    <br /><br />
    <hr />
    <h3>Latest OraclesLink Requests:</h3>


  </section>
  <section>

    <br /><br />
    <hr />
    <h3>Resources:</h3>
    <ul>
      <li><a href="https://ropsten.explorer.chain.link/job-runs?search=0x4ca55A262B7546D90dfF3B194513Edd51862620E"
          target="_blank">Chainlink
          Explorer for FrostInsuranceSampleContract requester</a></li>
      <li>FrostInsuranceSampleContract:
        <a href="https://ropsten.etherscan.io/address/0x4ca55A262B7546D90dfF3B194513Edd51862620E"
          target="_blank">Etherscan</a>,
        <a href="https://github.com/bergben/OraclesLinker/tree/master/OraclesLinker/contracts"
          target="_blank">Github</a>
      </li>
      <li>RandomOraclesProvider:
        <a href="https://ropsten.etherscan.io/address/0x7D8094e6643D4C3E169fD9426AC4c8Cf83042613"
          target="_blank">Etherscan</a>,
        <a href="https://github.com/bergben/OraclesLinker/tree/master/OraclesLinkProvider/contracts/RandomOraclesProvider"
          target="_blank">Github</a>
      </li>
      <li>OraclesStore:
        <a href="https://ropsten.etherscan.io/address/0x82E95FFE665D823328251cF644Fef73E7496735f"
          target="_blank">Etherscan</a>,
        <a href="https://github.com/bergben/OraclesLinker/tree/master/OraclesLinkProvider/contracts/OraclesStore"
          target="_blank">Github</a>
      </li>
    </ul>
  </section>
</div>